$logo_color: rgb(145, 160, 201);
$dark_blue: rgb(11, 28, 83);
$light_blue: rgb(111, 141, 224);

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: 'Varela Round', sans-serif;
	font-size: 16px;
    line-height: 1;
    .btn {
        font-size: 30px;
        &:hover {
            cursor: pointer;
        }
    }
    .hidden_btn {
        font-size: 0;
    }
    .wrapper {
        height: 100vh;
        display: flex;
    }
}

aside {
    width: 17%;
    min-width: 160px;
    height: 100%;
    background: $dark_blue;
    color: #fff;
    .logo {
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        &_img {
            font-size: 36px;
            color: $logo_color;
        }
        &_text {
            font-family: 'Fascinate Inline', cursive;
            margin-left: 20px;
        }
    }

    .menu_button {
        p {
            font-size: 22px;
            line-height: 60px;
            padding: 0 0 0 10%;
            height: 60px;
            border-left: 10px solid transparent;
            &:hover {
                cursor: pointer;
                border-left: 10px solid $logo_color;
            }
        }
        i {
            font-size: 30px;
            color: $logo_color;
            padding-right: 10px;
        }
    }
}

main {
    width: 100%;
    .tooltip {
        position: relative;
        text-align: center;
        &:hover::after {
            content: attr(data-tooltip);
            position: absolute;
            top: 120%;
            left: -75px;
            z-index: 10;
        }
        &::after {
            font-size: 17px;
            color: #fff;
            width: 150px;
            background: $logo_color;
            padding: 10px;
            border-radius: 15px;
        }
    }
    .header {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        &_right_block {
            width: 260px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .add_new_task {
        color: #fff;
        padding: 10px 50px;
        border-radius: 35px;
        background: $light_blue;
        &:hover {
            cursor: pointer;
        }
    }
    .form_add_task_wrapper {
        height: 100vh;
        width: 100vw;
        background: rgba(146, 146, 146, 0.9);
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        z-index: -10;
    }
    .form_add_task {
        margin: 0 auto;
        width: 600px;
        height: 100vh;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h2 {
            font-size: 28px;
            margin-bottom: 40px;
        }
        .add_task_form {
            font-size: 22px;
            p {
                margin: 5px 0;
            }
            input[type = 'text'] {
                font-size: 20px;
                width: 250px;
                height: 40px;
                padding: 0 10px;
                border: none;
                border-bottom: 2px solid $dark_blue;
                border-top: 2px solid $dark_blue;
                outline: none;
            }
            textarea {
                font-size: 20px;
                width: 250px;
                height: 200px;
                padding: 10px 10px;
                outline: none;
                border: none;
                border-bottom: 2px solid $dark_blue;
                border-top: 2px solid $dark_blue;
                resize: none;
            }
            .radiobutton_wrapper {
                margin-top: 10px;
            }
            .form_button_wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                div {
                    border: 2px solid $dark_blue;
                    border-radius: 8px;
                    padding: 7px 15px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                #add_task_btn:hover {
                    border-color: rgb(1, 187, 8) 
                }
                #cancel_task_btn:hover {
                    border-color: rgb(214, 1, 1) 
                }
            }
        }
    }
    .main_content_wrapper{
        background: rgb(243, 243, 243);
        height: calc(100vh - 70px);
        padding: 25px 0;
        overflow: scroll;
    }
    .task_wrapper {
        font-size: 20px;
        margin: 0 25px;
        .title_task_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .view_buttons {
                margin-right: 50px;
                &_item {
                    font-size: 25px;
                    padding-left: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }   
        }
        .grid_view {
            flex-basis: 48%;
        }
        .task_title {
            margin: 15px 0;
        }
        .active_task {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
        }
        .done_task {
            min-height: 100px;
            border: 2px solid rgb(243, 243, 243);
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-content: flex-start;
        }
        .completed_task {
            margin: 5px 10px;
            padding: 10px 10px 10px 25px;
            display: grid;
            grid-template-columns: 1fr 120px 140px 30px;
            grid-template-rows: auto;
            grid-template-areas: 
              ". priority date menu"
              "title title title menu"
              "text text text menu";
            border: 2px solid rgb(230, 230, 230);
            border-radius: 8px;
            position: relative;
            background: #fff;
            width: 100%;
        }
        .task {
            margin: 5px 10px;
            padding: 10px 10px 10px 25px;
            display: grid;
            grid-template-columns: 1fr 120px 140px 30px;
            grid-template-rows: auto;
            grid-template-areas: 
              ". priority date menu"
              "title title title menu"
              "text text text menu";
            border: 2px solid rgb(230, 230, 230);
            border-radius: 8px;
            position: relative;
            background: #fff;
            width: 100%;
        }
        .title_task {
            font-size: 24px;
            margin: 5px 0;
            grid-area: title;
        }      
        .text_task {
            font-size: 18px;
            color: rgb(53, 53, 53);
            margin: 5px 0;
            grid-area: text;
            overflow: scroll;
        }      
        .priority_task {
            font-size: 14px;
            grid-area: priority;
        }      
        .date_task {
            font-size: 14px;
            color: rgb(133, 133, 133);
            grid-area: date;
        }      
        .menu_task {
            font-size: 20px;
            color: rgb(53, 53, 53);
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: menu;
            display: flex;
            align-items: center;
            transition: all .5s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.5);
            }
        }
        .menu_task_panel {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 150px;
            height: 100%;
            position: absolute;
            left: calc(100% - 190px);
            border-radius: 8px;
            transform: scale(0); 
            background: $logo_color;
            p {
                text-align: center;
                margin: 2% 0;
                width: 100%;
                &:hover {
                    transform: scale(1.3);
                    transition: all .3s ease;
                }
            }
        }
        .menu_task_panel_del {
            &:hover {
                cursor: pointer;
            }
        }
        .menu_task_panel_edit {
            &:hover {
                cursor: pointer;
            }
        }
        .menu_task_panel_compl {
            &:hover {
                cursor: pointer;
            }
        }
        .task_id {
            display: none;
        }
    }
}
